body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(wu1.jpg);
	background-size: cover;
	
}

  
.box
{
	position: absolute;
	top:20%;
	left: 17%;
	transform: translate(-50%,-50%);
	width: 495px;
	padding: 30px;
	background:rgba(0,0,0,0.7);
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 2px 1px white;
}
.box h2
{
margin: 0 0 30px;
padding :0;
color: white;
text-align: left;
font-size: 35px;
background: transparent;
}

.box .inputbox
{
position: relative;
}
.box .inputbox input
{
width: 100%;
padding: 10px 0.;
font-size: 16px;
color: #fff;
letter-spacing: 1px;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.box .inputbox label
{
 position: absolute;
 top: 0;
 left: 0;
 padding: 10px 0.;
 font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
top: -18px;
left: 0;
color: #03a9f4;
font-size: 12px
}
.box input[type="submit"]
{
 background: transparent;
 border: none;
 outline: none;
 color: #fff;
 background: #03a9f4;
 padding: 10px 20 px;
 cursor: pointer;
 border-radius: 5px;

}